@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

<style>
 

    footer {
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
        text-align: center;
    }

        header h1, footer p {
            font-family: 'Playfair Display', serif;
            margin: 0;
        }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

        nav ul li {
            display: inline;
            margin-right: 10px;
        }

            nav ul li a {
                color: #FFFFFF;
                text-decoration: none;
                
            }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 120px);
        padding: 0px;
        box-sizing: border-box;
    }

    section {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

        section h2, section h3, section p {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
            margin: 0 0 20px 0;
        }

        section h2 {
            font-family: 'Playfair Display', serif;
            font-size: 2em;
            text-align: center;
        }

        section h3 {
            font-size: 1.5em;
        }

        section p {
            font-size: 1em;
            line-height: 1.6em;
        }

    
</style>


    <main>
        <section id="about-us">
            <h2>About Us</h2>
            <p>Welcome to DreamRest Beds, your number one source for quality and comfort. We're dedicated to giving you the very best of sleep solutions, with a focus on dependability, customer service, and innovation.</p>

            <h3>Corporate Headquarters</h3>
            <p>Our headquarters is located in the heart of San Francisco, California. Our modern office space is designed to foster creativity and collaboration, ensuring that we continue to lead the industry in sleep technology.</p>

            <h3>Our Staff</h3>
            <p>We have a dedicated team of over 200 professionals, ranging from experienced engineers and designers to customer service experts and marketing specialists. Each member of our team is committed to providing you with the best possible experience.</p>

            <h3>Our Product</h3>
            <p>DreamRest Beds offers a wide range of mattresses, pillows, and bedding accessories designed to improve your sleep quality. Our products are made using the latest technologies and highest quality materials to ensure you get the restful sleep you deserve. Whether you prefer a firm mattress or a softer one, we have something to suit every preference.</p>
        </section>
    </main>

