@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-center img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    .display-4 {
        font-family: 'Playfair Display', serif;
        font-size: 2.5em;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome to Dreamrest Beds</h1>
    <img src="/logo.png" alt="Dreamrest Beds Image">
</div>
